doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Kanchi
  style
    include ../static/woman.css

section#header
  a(href='#')
    img.logo(src='/static/picture11.jpeg' alt='')
  div
    ul#navbar
      li
        a.active(href='#') Home
      li
        a(href='#' onclick="learn()") Learning
      li
        a(href='Practice') Practice
      li
        a(href='ngo') NGOs
      li
        a(href='login') Login
  .search
    input#search(type='text' name='search' placeholder='search')
section#hero
  .container
    h1 Welcome to Our Classes
    form(action='/login' method='post')
      .form-group
        input(type='text' name='name' placeholder='Enter your name'  required="required" )
      .form-group
        input(type='user' name='Username' placeholder='Username'  required="required")
      .form-group
        input(type='text' name='Age' placeholder='Enter your Age'  required="required")
      .form-group
        input(type='text' name='Phone' placeholder='Enter your Phone Number'  required="required")
      .form-group
        input(type='pass' name='Password' placeholder='Password'  required="required")
      div
        button.btn() Register
    // 
script.
      
      
      function learn(){
      alert("Login to learn")
      }
      
  
