doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title NGO
  link(rel='stylesheet' href='static/ngo.css')
section#features.features
  h1.heading NGO
section
  h3.team Raise Your Voice
.container
  .box
    .icon
      span.material-icons
        | Guria India
    .content
      a(href='https://www.giveindia.org/blog/threats-are-a-part-of-their-work-profile%e2%80%8a-%e2%80%8aat-guria/') Guria India
      h4
        | Guria India&rsquo;s approach is to focus on rescue and legal intervention. Due to the stigma surrounding sexual assault, it helps the victim with all the necessities to fight their case starting from filing an FIR to helping them collect evidence.
  .box
    .icon
      span.material-icons
        | ActionAid India
    .content
      a(href='https://www.giveindia.org/nonprofit/actionaid-association') ActionAid India
      h4
        | ActionAid India is part of a global federation and a full affiliate of ActionAid International. Gauravi is the 24&times;7 one-stop crisis center of ActionAid. The center caters to domestic and sexual violence victims of any age including minor boys.
  .box
    .icon
      span.material-icons
        | Majlis Manch
    .content
      a(href='https://www.giveindia.org/nonprofit/majlis-manch') Majlis Manch
      h4
        | Through their program &lsquo;Rahat&rsquo;, Majlis Manch&rsquo;s legal center provides socio-legal support to victims of sexual abuse. The all-women team of lawyers and social workers meet with victims and explain the process and procedures involved in a court case.
a(href='#')
  img.logo(src='static/picture23.jpeg' alt='')
br
br
.center
  h2
    | TO FIND NGO NEAR YOU 
    a(href='https://www.google.com/maps/search/ngos+near+me/@28.7536965,77.5045989,15z/data=!3m1!4b1') CLICK HERE
.search
  input#search(type='text' name='search' placeholder='Write what you desire to share')