doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title learning
  link(rel='stylesheet' href='static/learning.css')
  link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
  script
    include ../static/learning.js 
section#features.features
  h1.heading
    | Our 
    span Classes
.container
  .box
    .icon
      span.material-icons
        | looks_one
    .content
      a(href='level1') Level1
      p Basic english used in day-to-day life.
  .box
    .icon
      span.material-icons
        | looks_two
    .content
      h3 Level 2
      p One level up so that they are able to communicate easily.
  .box
    .icon
      span.material-icons
        | looks_3
    .content
      h3 Level 3
      p
        | Professional level English which will focused on communicating clearly in a business setting.
.hero
  button.btn(onclick='home()') Go To Home