doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Practice
  style.
    body{
    background-color: whitesmoke;
    }
    #game{
    width: auto;
    height: auto;
    width: 10px 10px;
    margin: 0px 180px;
    padding: 30px 42px;
    background-color: rgb(171, 226, 69);
    border: 2px solid green;
    border-radius: 5%;
    /* position: relative; */
    }
    h1{
    background-color: aquamarine;
    color: rgb(17, 96, 98);
    }
    h3{
    color: rgb(41, 41, 110);
    text-align: center;
    text-decoration: underline;
    }
    @viewport{
    zoom: 1.0;
    width: extend-to-zoom;
    }
    @-ms-viewport{
    width: extend-to-zoom;
    zoom: 1.0;
    }
h1
  marquee(behavior='' direction='left')
    | Tomorrow&apos;s Victory Is Today&apos;s Practice!&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#x906;&#x91C; &#x915;&#x93E; &#x905;&#x92D;&#x94D;&#x92F;&#x93E;&#x938; &#x915;&#x932; &#x915;&#x940; &#x91C;&#x940;&#x924; &#x939;&#x948;!
h3 &#x928;&#x940;&#x91A;&#x947; &#x926;&#x93F;&#x90F; &#x917;&#x90F; &#x92A;&#x94D;&#x930;&#x936;&#x94D;&#x928;&#x94B;&#x924;&#x94D;&#x924;&#x930;&#x940; &#x915;&#x94B; &#x936;&#x941;&#x930;&#x942; &#x915;&#x930;&#x947;&#x902;
#game
  iframe(src='https://wordwall.net/hi/embed/ded7b4b4a0d349cc936e172963256cee?themeId=1&templateId=5&fontStackId=0' width='800' height='400' allowfullscreen='')
