body{
    margin: 0px;
    padding: 0px;
    background-color: whitesmoke;
    font-family: sans-serif;
}
.heading{
     text-align: center;
     padding: 10px;
     font-size: 40px;

}
.container{
   position: relative;
   width: 1200px;
   height: 300px;
   margin: 180px auto;
}
.container .box{
    position: relative;
    width: calc(400px - 30px);
    height: calc(300px - 30px);
    background: rgb(85, 179, 51);
    float: left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
 }
.container .box .icon{
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: #f00;
     transition: 0.5s;
     z-index: 1;
 }
.container .box:hover .icon{
     top: 20px;
     left: calc(50% - 40px);
     width: 80px;
     height: 80px;
     border-radius: 50%;
 }
.container .box .icon .material-icons{
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%);
     font-size: 80px;
     transition: 0.5s;
     color: #fff;
 }
 .container .box:hover .icon .material-icons{
     font-size: 50px;
 }
 .container .box .content{
     position: absolute;
     top: 100%;
     height: calc(100% - 100px);
     text-align: center;
     padding: 20px;
     box-sizing: border-box;
     transition: 0.5s;
     opacity: 0;
 }
 .container .box:hover .content{
     top: 100px;
     opacity: 1;
 }
 .container .box .content h3{
     margin: 0 0 10px;
     padding: 0;
     color: #fff;
     font-size: 24px;
 }
 .container .box .content p{
    margin: 0;
    padding: 0;
    color: #fff;
 }
 .container .box:nth-child(1) .icon{
     background: #c8d362;
 }
 .container .box:nth-child(1){
     background: #cfdc7d;
 }
 .container .box:nth-child(2) .icon{
    background: #51a9c6;
}
.container .box:nth-child(2){
    background: #8ec5d2;
}
.container .box:nth-child(3) .icon{
    background: #863091;
}
.container .box:nth-child(3){
    background: #b974d0;
}
@viewport{
    zoom: 1.0;
    width: extend-to-zoom;
}
@-ms-viewport{
    width: extend-to-zoom;
    zoom: 1.0;
}
.hero{
    padding: 55px;
}
.hero button{
    text-align: center;
    display: block;
    width: 100px;
    margin: 2px 1200px;
    padding: 2px;
    border-radius: 6px;
    cursor: pointer;
    }
    .hero button:hover{
        background-color: rgb(193, 91, 91);
    }
